<html>
    <head>  
        <title>歡迎光臨</title>
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    </head>
    <body style = "margin:0px">
        <div class="frame">
            <div class="text">{{ title }}</div>
        </div>
        <div class = "message"><strong>註冊帳號</strong></div>
        <form method = "post" action = "/signup">  <!-- 指定表單用 POST 方法並發送到 /signin 路徑 -->
            姓名 <input type = "text" name = "name" required/> <!-- name: 提交表單後引用表單數據 -->
            <br/>
            帳號 <input type = "text" name = "username" required/> 
            <br/>
            密碼 <input type = "password" name = "password" required/>
            <br/>
            <input type = "submit" value = "註冊" />
        </form>
        <hr color = #DCDCDC>
        <br/>
        <div class = "message"><strong>登入系統</strong></div>
        <form method = "post" action = "/signin"> 
            帳號 <input type = "text" name = "signedUsername" required/> 
            <br/>
            密碼 <input type = "password" name = "signedPassword" required/>
            <br/>
             <input type = "submit" value = "登入" />
        </form>
    </body>
    <script>
    </script>
</html>