<html>
    <head>  
        <title>歡迎光臨</title>
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    </head>
    <body style = "margin:0px">
        <div class="frame">
            <div class="text">{{ title }}</div> 
        </div>
        <div class = "message">{{ message }}</div>
        <div class = "message"><a href = "http://127.0.0.1:8000/signout">{{ redirect }}</a></div>
        <br/>
        <hr color = #DCDCDC>
        <br/>

        <div class = "message"><strong>快來留言吧</strong></div>
        <form method = "post" action = "/createMessage"> 
            內容 <input type = "text" name = "content" required/> 
            <br/>
            <input style = "margin-top:5px" type = "submit" value = "送出" />
        </form>
        <br/>
        <hr color = #DCDCDC>
        <br/>
        
        <div> 
            {% for row in content %} 
                <div class="message">
                    <strong>{{ row[6] }}：</strong>{{ row[2] }}
                    {% if row[5] == id %}
                        <form onsubmit = "return popup()" method = "post" action = "/deleteMessage">
                            <input class = "inputX" type = "submit" value = "X" />
                            <input type = "hidden" name = "id" value = "{{ row[1] }}" />
                            <input type = "hidden" name = "message_id" value = "{{ row[0] }}" />
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </body>
    <script>
        function popup(){
            let execute = confirm("確定要刪除嗎？");
            if(execute == true){
                return true;
            }else{
                return false;
            }
        }
    </script>
</html>